# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
hw1/shematic-backups/shematic-2026-08-15_152346.zip
hw1/shematic-backups/shematic-2026-08-15_153901.zip
hw1/shematic-backups/shematic-2026-08-15_154855.zip
hw1/shematic-backups/shematic-2026-08-15_211052.zip
hw1/shematic-backups/shematic-2026-08-17_183537.zip
hw1/shematic-backups/shematic-2026-08-17_184555.zip
hw1/shematic-backups/shematic-2026-08-17_185604.zip
hw1/shematic-backups/shematic-2026-08-17_190152.zip
shematic-backups/shematic-2026-08-15_152257.zip
